@model IEnumerable<PetStore.Web.Models.View_Models.Category.AllCategoriesListingViewModel>

@{
    ViewData["Title"] = "View";
}

<div>
    <a style="margin-top:1.2%" asp-action="Create" class="btn btn-primary float-right">Create</a>
</div>

<h1>All Categories</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    @{
        var counter = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @{
                    counter++;
                    @Html.DisplayFor(modelItem => counter)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-sm btn-success"})
                @Html.ActionLink("Details", "Details", new {id = item.Id}, new {@class = "btn btn-sm btn-info"})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-sm btn-danger"})
            </td>
        </tr>
    }
    </tbody>
</table>
